APIconn.py
JsonHandling.py
PostgrestoPython.py
Regex_test.py
Sqlpypost_connection.py
Target_file.csv
Target_file2.csv
accessconfig.py
csvhandling.py
external.config
myconfigfile.config
new.config
newjson.json
pdfreader.py
read_config.py
user_copy.txt
